.header {
    background: getColor('header');
    padding-top: 16px;
    padding-bottom: 16px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    @media screen and (min-width:768px) {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }

    .head {
        @include flex_aic;

    }

    .header__logo {
        min-width: 134px;
        min-height: 28px;

        @media screen and (min-width:768px) {
            min-width: 134px;
            min-height: 28px;
        }

        @media screen and (min-width: 1200px) {
            min-width: 145px;
            min-height: 31px;
        }
    }

    &__logo--black {
        font-family: 'Raleway';
        font-size: 700;
        font-size: 26px;
    }

    &__logo {
        font-family: 'Raleway';
        font-weight: 700;
        color: getColor('button');
        font-size: 26px;
        margin-right: 284px;

        @media screen and (min-width:768px) {
            margin-right: 88px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }
    }

    .header__logo--black {
        color: #000;
    }

    .nav {
        display: flex;

        @media screen and (min-width:768px) {
            margin-right: 90px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 315px;
        }
    }

    .header-list {


        @media screen and (min-width:480px) {
            display: none;
        }

        @media screen and (min-width:768px) {
            min-width: 288px;
            @include flex_aic;
            display: flex;
        }

        @media screen and (min-width: 1200px) {
            min-width: 285px;
            @include flex_aic;
        }
    }

    .header-list__item {

        @media screen and (min-width:480px) {
            display: none;
        }

        @media screen and (min-width:768px) {
            margin-right: 50px;
            display: block;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 50px;
            display: block;
        }
    }

    .header-list__item:last-child {
        margin-right: 0px;
    }

    .header-list__link {
        font-family: getFont(roboto);
        font-weight: 500;
        letter-spacing: 0.02em;
        font-size: 14px;
        color: getColor('text');
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width:480px) {
            display: none;
        }

        @media screen and (min-width:768px) {
            display: block;
        }

        @media screen and (min-width: 1200px) {
            display: block;
        }
    }

    .header-list__link:hover {
        color: getColor('button');
    }

    .header-list__link--active {
        font-weight: 500;
        color: getColor('button');
        position: relative;
        transition-property: all;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-list__link--active::after {
        width: 100%;
        height: 4px;
        content: "";
        position: absolute;
        display: block;
        bottom: -33px;
        border-radius: 2px;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-color: getColor('button');
    }

    .list {
        display: flex;
        gap: 30px;

        @media screen and (min-width:480px) {
            display: none;
        }

        @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
            width: 303px;
        }
    }

    .list__item {
        display: flex;
        @include flex;

        @media screen and (min-width:768px) {}

        @media screen and (min-width: 1200px) {
            min-width: 142px;
        }
    }

    .list__item:last-child {
        margin-right: 0px;
    }

    .list__item:hover .contacts-links {
        color: getColor('button');
        fill: getColor('button');
    }

    .list__svg {
        fill: inherit;
        margin-right: 10px;
    }

    .list__contacts {
        font-family: getFont(roboto);
        letter-spacing: 0.03em;
        font-weight: 500;
        letter-spacing: 0.02em;
        @include flex_aic;
        width: 161px;
        font-size: 14px;
        color: getColor(workers);
        fill: #AFB1B8;
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}