.images {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (min-width:320px) {
        display: none;
    }

    @media screen and (min-width:1200px) {
        display: block;
    }

    .image {
        @include flex_fdc;
    }

    &__item {
        margin-right: 30px;
        position: relative;
    }

    &__text {
        width: 100%;
        position: absolute;
        bottom: 0px;
        padding-top: 27px;
        padding-bottom: 27px;
        font-family: getFont(roboto);
        letter-spacing: 0.03em;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        color: getColor('header');
        background: rgba(47, 48, 58, 0.8);
    }

    &__item:last-of-type {
        margin-right: 0px;
    }

    &__list {
        @include flex_jcfs;
    }

    &__ourjob {
        font-family: getFont(roboto);
        letter-spacing: 0.03em;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
    }
}