.all {
    padding-top: 120px;

    @media screen and (min-width: 1200px) {
        margin-top: 94px;
        margin-bottom: 94px;
    }
}

.portfolios-list {
    width: 100%;
        height: 91px;
        @include flex_ww;
        gap: 8px;
        margin-bottom: 40px;


    @media screen and (min-width:480px) {
        width: 326px;
        height: 91px;
        @include flex_ww;
        gap: 8px;
        margin-bottom: 40px;
    }

    @media screen and (min-width:768px) {
        margin: 0 auto;
        width: 575px;
        flex-wrap: nowrap;
        height: 54px;
        @include flex_jcc;
        margin-bottom: 34px;

    }

    @media screen and (min-width: 1200px) {
        min-width: 575px;
        height: 54px;
        @include flex_jcc;
        margin-bottom: 34px;
    }


    .portfolios-list__button {
        font-family: getFont(roboto);
        letter-spacing: 0.03em;
        font-weight: 500;
        font-size: 16px;
        line-height: 162%;
        text-align: center;
        background: getColor('background');
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition-property: color, background-color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolios-list__button:hover {
        color: getColor('header');
        background-color: getColor('button');
        border: none;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 3px 1px 0 rgba(0, 0, 0, 0.25);
    }

    .portfolios-list__button--activ-link {
        font-family: getFont(roboto);
        letter-spacing: 0.03em;
        font-weight: 500;
        font-size: 16px;
        line-height: 162%;
        text-align: center;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        color: getColor('header');
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
        background: getColor('button');
    }
}



.works-list {

    @media screen and (min-width:480px) {
        width: 450px;

    }

    @media screen and (min-width:768px) {
        width: 738px;
        @include flex_ww;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        width: 1170px;
        @include flex_ww;
        gap: 30px;
    }

    &__title {
        font-family: getFont(roboto);
        letter-spacing: 0.06em;
        font-weight: 700;
        font-size: 18px;
        line-height: 2.0;
        color: getColor('text');
        margin-top: 20px;
        margin-left: 24px;
    }

    &__text {
        font-family: getFont(roboto);
        letter-spacing: 0.03em;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        color: getColor('workers');
        margin-top: 4px;
        margin-left: 24px;
    }

    &__item {
        background: getColor('header');

        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width:480px) {
            width: 450px;
            height: 404px;
        }

        @media screen and (min-width:768px) {
            width: 354px;
            height: 440px;

            @media screen and (min-width: 1200px) {
                width: 370px;
                height: 404px;
                flex-basis: calc((100% - 60px) / 3);
                padding-bottom: 20px;
            }

        }

        &__item:hover {
            box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        }

        .card-overlay-box {
            width: 100%;
            position: relative;
            overflow: hidden;
        }

        .img {
            @media screen and (min-width:480px) {
                width: 450px;
                height: 294px;
            }

            @media screen and (min-width:768px) {
                width: 354px;
                height: 294px;
            }

            @media screen and (min-width: 1200px) {}
        }

        .card__text {
            width: 100%;
            height: 100%;
            font-weight: 400;
            font-size: 18px;
            line-height: 156%;
            letter-spacing: 0.03em;
            color: getColor('header');
            background: rgba(33, 150, 243, 0.9);
            opacity: 0;
            transition-property: transform, opacity;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            @media screen and (min-width:480px) {
                position: absolute;
                padding: 63px 24px;
            }

            @media screen and (min-width:768px) {}

            @media screen and (min-width: 1200px) {
                position: absolute;
                padding: 63px 24px;
            }
        }

        &__item:hover .card__text {
            transform: translateY(-100%);
            opacity: 1;
        }
    }

}