.workers {
    background: getColor('background');
    padding-top: 94px;
    padding-bottom: 94px;

    .workers-list {

        @media screen and (min-width:768px) {
            width: 738px;
            @include flex_ww;
            gap: 30px;
        }

        @media screen and (min-width: 1200px) {
            @include flex_jcsb;
            flex-wrap: nowrap;
        }
    }


    .workers__title {
        font-family: getFont(roboto);
        letter-spacing: 0.03em;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
    }

    .workers-list__item {
        background-color: getColor('header');
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        padding-bottom: 30px;

        @media screen and (min-width:480px) {
            width: 450px;
        }

        @media screen and (min-width:768px) {
            width: 354px;
            height: 536px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 428px;
        }
    }


    .workers-list__img {


        @media screen and (min-width:480px) {
            width: 450px;
            height: 460px;
        }

        @media screen and (min-width:768px) {
            width: 354px;
            height: 373px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 260px;
        }
    }

    .workers-list__text {
        width: 270px;
        font-family: getFont(roboto);
        letter-spacing: 0.03em;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
    }

    .workers-list__title {
        width: 270px;
        font-family: getFont(roboto);
        letter-spacing: 0.03em;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 30px;
        color: getColor('workers');
    }

    .workers-list--social-media {
        width: 270px;
        @include flex;
        gap: 10px;
        margin: 0 auto;
    }

    .workers-list__item--social-media {
        width: 44px;
        height: 44px;
        @include flex;
        border-radius: 50%;
        fill: #AFB1B8;
        cursor: pointer;
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .workers-list__item--social-media:hover {
        fill: getColor('header');
        background-color: getColor('button');
    }

    .workers-list__link {
        fill: inherit;
        @include flex;
    }
}