.form {
    width: 100%;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 582px;
    height: 581px;
    border-radius: 4px;
    padding: 40px;
    background-color: #fff;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    fill: var(--button-color);
}

.form-div {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-div:focus {
    fill: var(--button-color);
    cursor: pointer;
}

.modal-div-userphone {
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-div-userphone:focus {
    fill: var(--button-color);
    cursor: pointer;
}

.modal-div-usermail {
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-div-usermail:focus {
    fill: var(--button-color);
    cursor: pointer;
}

.form__svg {
    position: absolute;
    top: 31px;
}

.form__svg:nth-child(1) {
    left: 12px;
    /* top: 1px; */
}

.form__svg:nth-child(2) {
    left: 12px;
    /* top: 21px; */
}

.form__svg:nth-child(3) {
    left: 12px;
    /* top: 21px; */
}

.form__label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.form__coments {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    resize: none;
    padding: 12px 16px;
}

.form__coments::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
}

.form__input:focus {
    border: solid 1px var(--button-color);
}

.forml__button {
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3;
    border: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    color: #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.modal__text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 12px;
}

.form__span {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #2196f3;
}

.form__checkbox {
    margin-left: 12px;
    margin-bottom: 30px;
}

.form__label--chekbox {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
}