    $section-color: #2F303A;
    $workers-color: #757575;
    $button-color: #2196F3;
    $text-color: #212121;
    $background-color: #f5f4fa;
    $color-background-overlay-img: rgba(47, 48, 58, 0.4);

    $fonts: (
        roboto: 'Roboto',
        raleway: 'Raleway'
    );

    $colors: (
        section: #2F303A,
        workers: #757575,
        button: #2196F3,
        text: #212121,
        background: #f5f4fa,
        background-overlay: rgba(47, 48, 58, 0.4),
        header: #fff
    );

    @function getColor($key) {
        @return map-get($colors, $key);
    }

    @function getFont($key) {
        @return map-get($fonts, $key)
    }